<div class="jumbotron">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{ title }}</h1>
      <button class="btn btn-info" (click)="sayHello()">Test</button>
    </div>
  </div>
</div>
